/* General */
/* variables */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  max-width: 100%;
  background: #171321;
}

body::-webkit-scrollbar {
  display: none;
}

/* HEADER */
header {
  background: #0D314A;
}

header a {
  padding: 5px;
}

a {
  text-decoration: none;
}

header a span {
  color: aqua;
}

.navbar-toggler {
  color: aqua;
}

.navbar-brand {
  color: #fff;
}

.nav-item:hover {
  background-color: aqua;
  border-radius: 10px;
  transition: 1s;
}

.nav-item {
  padding: 0 5px;
  text-decoration: none;
}

.collapse.navbar-collapse.justify-content-end ul li a {
  color: #fff;
}

.main-logo {
  height: 40px;
}

/* FOOTER */
footer a {
  padding: 2em;
}

footer p {
  padding: 20px;
}

/* MAIN INDEX */
h1 {
  font-size: 4em;
}

.home {
  background: linear-gradient(to right, #171321 0% #171321 85% #0D314A 85% #0D314A 100%);
}

h2 {
  font-size: 4em;
}

.hi {
  font-size: 3em;
}

.bruno {
  color: aqua;
  font-weight: bold;
}

.img-fluid.image {
  border-radius: 20px;
}

/* ABOUT ME */
.hacker {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: #fff;
  border: solid 3px aqua;
}

.text-about-me.align-items-center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
  background-color: #fff;
  color: #191c32;
  border-radius: 25px;
  border: solid 3px aqua;
  padding: 10px;
}

.skills-container {
  background-color: #fff;
  color: #171321;
}

.card.border-0 i {
  color: #0D314A;
}

.row {
  margin: 0;
}

.card-body {
  height: 7;
}

.skill.card.border-0.shadow-lg {
  width: 18rem;
}

.skill.card.border-0 shadow-lg.p-2 {
  width: 18rem;
  min-height: auto;
}

/* Contact me*/
.first-col {
  background-color: #0D314A;
  height: 550px;
  position: relative;
  width: 550px;
  left: 155px;
  top: 171px;
  border-radius: 20px;
}

.last-row {
  width: 60% !important;
  position: relative !important;
  left: 350px;
  top: 50px;
  height: 200px;
  padding-bottom: 100px !important;
  background-color: #244760;
  border-radius: 20px;
}

.btn-primary {
  background-color: #244760;
  border: #244760;
}

.btn-primary:hover {
  background-color: #171321;
}

.form-control {
  height: 52px;
  background-color: #c3ddef;
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
  border: solid 1px #171321;
  max-height: 120px;
}

@media only screen and (max-width: 600px) {
  .first-col {
    position: initial;
    left: 0;
  }
  .last-row {
    left: 0 !important;
    width: 100% !important;
    height: 480px;
    top: 0 !important;
  }
}

/* services */

.container.services h3 {
  font-size: 4em;
}

.container.services p {
  font-size: 2em;
}

.services .card {
  background-color: #171321;
  border: solid 1px #fff;
  color: #fff;
}

.services .card-header {
  border: solid 1px #fff;
}

.circle {
  background-color: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: 6px;
}

/*# sourceMappingURL=style.css.map */
