.home{
    background: linear-gradient(
        to right,
        #171321 0%
        #171321 85%
        #0D314A 85%
        #0D314A 100%

    )
    h2 {
        font-size: 4em;
    }
    .hi{
        font-size: 3em;
    }

    .bruno {
        color: $tertiary-color;
        font-weight: bold;
    }

    .img-fluid.image{
        border-radius: 20px;
}
    }

