/* Contact me*/

.first-col{
    background-color: $secondary-color;
    height: 550px;
    position: relative;
    width: 550px;
    left: 155px;
    top: 171px;
    border-radius: 20px;
    .form-control{
        height: 52px;
        background-color: #c3ddef;
        color: $main-color;
        border-radius: 2px;
        font-size: 14px;
        border: solid 1px $main-color ;
        max-height: 150px;
    }
    .btn-primary{
        background-color: $fourth-color;
        border: $fourth-color;
        &:hover{
            background-color: $main-color;

        }
    }
}

.formImg{
    border-radius: 10px;
}

.last-row{
    width: 60% !important;
    position: relative !important;
    left: 350px;
    top: 50px;
    height: 150px;
    padding-bottom: 100px !important;
    background-color: $fourth-color;
    border-radius: 20px;
        .col{
            padding: 20px;
        }
}

/* media querys*/

@media only screen and (max-width:600px){ 
    .first-col{
        position: initial;
        left: 0;
    }
    .last-row{
        left: 0 !important;
        width: 100% !important;
        height: 480px;
        top: 0 !important;
    }
}